TechSystem.Api/bin/
TechSystem.Api/obj/
TechSystem.Api/appsettings.json

TechSystem.Domain/bin/
TechSystem.Domain/obj/

TechSystem.Shared/bin/
TechSystem.Shared/obj/

TechSystem.Infra/bin/
TechSystem.Infra/obj/
TechSystem.Infra/DataContext/

TechSystem.Test/bin/
TechSystem.Test/obj/

.vscode